@media (min-width: 320px) and (max-width: 375px) {

    body {
        background-color: #7A29FF;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .logo {
        width: 80%;
        margin-top: 100px;
    }

    main {
        padding: 20px;
    }

    form {
        background-color: #fff;
        border-radius: 18px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .txt {
        margin-top: 10px;
        font-size: x-large;
        font-family: 'Outfit', sans-serif;
        margin-right: 8rem;
    }

    #temail {
        width: 80%;
        height: 30px;
        margin-top: 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #EEEEEE;
    }

    #tnome {
        width: 80%;
        height: 30px;
        margin-top: 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #EEEEEE;
    }

    #tsenha {
        width: 80%;
        height: 30px;
        margin-top: 15px;
        outline: none;
        border-radius: 5px;
        border: none;
        background-color: #EEEEEE;
    }

    #senha-ex {
        color: #00A3FF;
        text-decoration: underline;
        text-decoration-color: #00A3FF;
        margin-right: 8rem;
        margin-top: 5px;
    }

    #checkbox-d {
        display: flex;
        font-family: 'Outfit', sans-serif;
        font-size: small;
        text-align: center;
        align-items: center;
        margin-top: 5px;
        margin-right: 8rem;
    }

    .button {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }

    #button-home {
        cursor: pointer;
        border: none;
        background-color: #7A29FF;
        border-radius: 5px;
        color: white;
        font-family: 'Outfit', sans-serif;
        width: 125px;
        height: 35px;
    }

    #button-login {
        cursor: pointer;
        border: 2px #7A29FF solid;
        background-color: white;
        border-radius: 5px;
        color: #7A29FF;
        font-family: 'Outfit', sans-serif;
        width: 125px;
        height: 35px;
        margin-right: 5px;
    }

}

@media (min-width: 375px) and (max-width: 425px) {

    body {
        background-color: #7A29FF;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .logo {
        width: 80%;
        margin-top: 100px;
    }

    main {
        padding: 20px;
    }

    form {
        background-color: #fff;
        border-radius: 18px;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .txt {
        margin-top: 10px;
        font-size: x-large;
        font-family: 'Outfit', sans-serif;
        margin-right: 10rem;
    }

    #t-email {
        width: 80%;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #EEEEEE;
    }


    #t-senha {
        width: 80%;
        height: 30px;
        outline: none;
        border-radius: 5px;
        border: none;
        background-color: #EEEEEE;
    }

    #senha-ex {
        color: #00A3FF;
        text-decoration: underline;
        text-decoration-color: #00A3FF;
        margin-right: 11rem;
        margin-top: 5px;
    }

    #checkbox-d {
        display: flex;
        font-family: 'Outfit', sans-serif;
        font-size: small;
        text-align: center;
        align-items: center;
        margin-top: 5px;
        margin-right: 11rem;
    }

    .button {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }

    #button-cadastro {
        cursor: pointer;
        border: 2px #7A29FF solid;
        background-color: white;
        border-radius: 5px;
        color: #7A29FF;
        font-family: 'Outfit', sans-serif;
        width: 150px;
        height: 35px;
        margin-right: 5px;
    }

    #button-login {
        cursor: pointer;
        border: none;
        background-color: #7A29FF;
        border-radius: 5px;
        color: white;
        font-family: 'Outfit', sans-serif;
        width: 150px;
        height: 35px;
    }

}

@media (min-width: 425px) and (max-width: 768px) {

    body {
        background-color: #7A29FF;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .logo {
        width: 80%;
        margin-top: 100px;
    }

    main {
        padding: 20px;
    }

    form {
        background-color: #fff;
        border-radius: 18px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .txt {
        margin-top: 10px;
        font-size: x-large;
        font-family: 'Outfit', sans-serif;
        margin-right: 10rem;
    }

    #t-email {
        width: 80%;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #EEEEEE;
    }


    #t-senha {
        width: 80%;
        height: 30px;
        outline: none;
        border-radius: 5px;
        border: none;
        background-color: #EEEEEE;
    }

    #senha-ex {
        color: #00A3FF;
        text-decoration: underline;
        text-decoration-color: #00A3FF;
        margin-right: 11rem;
        margin-top: 5px;
    }

    #checkbox-d {
        display: flex;
        font-family: 'Outfit', sans-serif;
        font-size: small;
        text-align: center;
        align-items: center;
        margin-top: 5px;
        margin-right: 11rem;
    }

    .button {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }

    #button-cadastro {
        cursor: pointer;
        border: 2px #7A29FF solid;
        background-color: white;
        border-radius: 5px;
        color: #7A29FF;
        font-family: 'Outfit', sans-serif;
        width: 170px;
        height: 45px;
        margin-right: 5px;
    }

    #button-login {
        cursor: pointer;
        border: none;
        background-color: #7A29FF;
        border-radius: 5px;
        color: white;
        font-family: 'Outfit', sans-serif;
        width: 170px;
        height: 45px;
    }

}