@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@media (min-width: 320px) and (max-width: 480px){ 

*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #e0e0e0;
}

body main h3 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 120%;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

.img-hero-1 img{
    display: flex;
    margin-top: 20px;
    margin-bottom: -10px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

.img-hero-2 img{
    display: flex;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

/*PRODUTOS*/

.shop {
    margin-top: 1.2rem;
    
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    gap: 1.8rem;
    padding: 2rem;
    /*text-align: center;*/
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    
}

.product-title {
   font-size: 0.8rem;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 0.8rem;
}

.product-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.product-box {
   position: relative;
   background-color: #ffff;
   padding: 10px;
   border-radius: 10px;
   transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box:hover {
    transform: scale(108%);

}

.price {
    font-weight: 500;
}

.add-cart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #7A29FF;
    color: #ffff;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.add-cart:hover {
    background-color: #24005a;
}

}

@media (min-width: 480px) and (max-width: 768px) { 

    *{
        font-family: 'Outfit', sans-serif;
    }
    
    body{
        background-color: #e0e0e0;
    }
    
    body main h3 {
        margin-left: 25px;
        margin-top: 25px;
        font-size: 120%;
        font-weight: 600;
        font-family: 'Outfit', sans-serif;
    }
    
    .img-hero-1 img{
        display: flex;
        margin-top: 20px;
        margin-bottom: -10px;
        width: 90%;
        margin-left: 5%;
        border-radius: 10px;
    }
    
    .img-hero-2 img{
        display: flex;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;
        border-radius: 10px;
    }
    
    /*PRODUTOS*/
    
    .shop {
        margin-top: 1.2rem;
        
    }
    
    .shop-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
        gap: 1.8rem;
        padding: 2rem;
        /*text-align: center;*/
    }
    
    .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        
    }
    
    .product-title {
       font-size: 1.1rem;
       font-weight: 600;
       text-transform: uppercase;
       margin-bottom: 0.8rem;
    }
    
    .product-img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }
    
    .product-box {
       position: relative;
       background-color: #ffff;
       padding: 10px;
       border-radius: 10px;
       transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .product-box:hover {
        transform: scale(108%);
    
    }
    
    .price {
        font-weight: 500;
    }
    
    .add-cart{
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #7A29FF;
        color: #ffff;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .add-cart:hover {
        background-color: #24005a;
    }

}