<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Athena Shop</title>
</head>
<body>
    <% if(autenticado) { %>
        <span>Olá <%=autenticado %>!</span>
    <% } %>
            <p><a href="/sair"> Sair </a></p>
            <h1>Área do ADministrador</h1>
</body>
</html>