<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos - Athena Shop</title>
</head>
<body>
    <header>
        <div>
            <img src="img/logo-letreiro.png" alt="logo maior e texto Athena Shop" class="logo-2">
        </div>
    </header>
    <footer>
        <section class="section-1">
            <p><a href=""  class="p4">Trabalhe conosco</a></p>
            <p><a href="" class="p4">Termos e condições</a></p>
            <p><a href="" class="p4">Como cuidamos da sua privacidade</a></p>
        </section>

        <section class="section-2">
            <p><a href="" class="p4">Acessibilidade</a></p>
            <p><a href="" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
            <p>
                <a href="/adm">Administrador</a>
            </p>
        </section>
    </footer>
</body>
</html>