<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento concluido - Athena Shop</title>          
    <link rel="stylesheet" href="css/pagaconcluido.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sc-container">
        <h2>Pagamento Concluido</h2>
        <p>Seu pedido sera processado em até 2 dias uteis</p>
        <img src="img/check-circle-solid-240.png" alt="check">
        <a href="/" class="sc-btn">Voltar para Home</a>
    </div>
</body>
</html>
</html>