<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento cancelado - Athena Shop</title>          
    <link rel="stylesheet" href="css/pagaconcluido.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sc-container">
        <h2>Pagamento Cancelado</h2>
        <p>Não foi possivel processar o pagamento, tente novamento mais tarde</p>
        <img src="img/bxs-x-circle.svg" alt="check">
        <p>contate nosso suporte: lojaathena.contato@gmail.com</p>
        <a href="/" class="sc-btn">Voltar para Home</a>
    </div>
</body>
</html>
</html>