<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/produto480.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/produto.js" defer></script>

    <link rel="stylesheet" href="css/footer.css">

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">


    <title>Produto - Athena Shop</title>

</head>

<body>

    <header>
        
        <a href="/home"><img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena"></a>

        <input type="search" name="" id="search-bar-header">
        
        <img src="img/profile-user_white.png" alt="perfil" id="profile-user">

    </header>
   
    <main>
        
        <h3>Produtos exemplo</h3>


        <div class="container-slider">
            <button id="prev-button"><img src="img/horiz-arrow.png" alt="prev-button"></button>
            <div class="container-img">
                <img src="https://source.unsplash.com/random/400x400/?backpack" alt="img" class="slider on">
                <img src="https://source.unsplash.com/random/400x400/?car" alt="img" class="slider">
                <img src="https://source.unsplash.com/random/400x400/?jesus" alt="img" class="slider">
                <img src="https://source.unsplash.com/random/400x400/?bible" alt="img" class="slider">
            </div>
            <button id="next-button"><img src="img/horiz-arrow.png" alt="next-button"></button>
        </div>

        <div class="name-prod">
            <h4 class="nome-produto">Camiseta Lisa Basica FIEB - Algodão </h4>
            <div class="rating"></div>
            <div class="price">
                <h5>R$ 69,90</h5>
                <h5>Frete gratis</h5>
            </div>
        </div>
        

        <div class="no-slider">
            
            <div class="contador">
                <p>Quantidade:</p>
                <button id="diminuir">-</button>
                <span id="numero">1</span>
                <button id="aumentar">+</button>
            </div>
            

            <p><button id="buy-now-button">Comprar agora</button></p>

        

        <div class="info">
            <p class="txt-info-title">Informações do produto</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed bibendum justo vel cursus ultricies. 
            Nunc posuere erat sed ornare cursus. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Sed bibendum justo vel cursus ultricies. 
            Nunc posuere erat sed ornare cursus. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Sed bibendum justo vel cursus ultricies. 
            Nunc posuere erat sed ornare cursus.</p>
        </div>
    
        <h3 class="txt-ava">Avaliação</h3>

        <div class="info-avaliacao">
                <ul class="avaliacao">
                    <p class="numb-avaliacao">4.0</p>
                    <li><span class="star-icon">&#9733;</span></li>
                    <li><span class="star-icon">&#9733;</span></li>
                    <li><span class="star-icon">&#9733;</span></li>
                    <li><span class="star-icon">&#9733;</span></li>
                    <li><span class="star-icon">&#9734;</span> (1001)</li>
                </ul>
        </div>

        <button class="button-exb-avaliacao">Exibir Avaliações</button>

        <h3 class="txt-prod-rec">Produtos semelhantes</h3>
    </div>
    </main>

    <footer>

        <section class="section-1">
            <p><a href=""  class="p4">Trabalhe conosco</a></p>
            <p><a href="" class="p4">Termos e condições</a></p>
            <p><a href="" class="p4">Como cuidamos da sua privacidade</a></p>
        </section>

        <section class="section-2">
            <p><a href="" class="p4">Acessibilidade</a></p>
            <p><a href="" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
        </section>
    </footer>

</body>
</html>