<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/produto.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/produto.js" defer></script>

    <link rel="stylesheet" href="css/footer.css">

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">


    <title>Produto - Athena Shop</title>

</head>

<body>

    <header>

        <a href="/">
            
            <picture>

                <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
        
            </picture>
        </a>

        <input type="search" name="" id="search-bar-header">

        
        
        <a href="/usuario"><img src="img/profile-user_white.png" alt="perfil" id="profile-user"></a>

    </header>
   
    <main>
        
        <h3>Produtos exemplo</h3>


        <div class="container-slider">
            <button id="prev-button"><img src="img/horiz-arrow.png" alt="prev-button"></button>
            <div class="container-img">
                <img src="https://source.unsplash.com/random/400x400/?backpack" alt="img" class="slider on">
                <img src="https://source.unsplash.com/random/400x400/?car" alt="img" class="slider">
                <img src="https://source.unsplash.com/random/400x400/?jesus" alt="img" class="slider">
                <img src="https://source.unsplash.com/random/400x400/?bible" alt="img" class="slider">
            </div>
            <button id="next-button"><img src="img/horiz-arrow.png" alt="next-button"></button>
        </div>

        
            <div class="contador">
                <p>Quantidade:</p>
                <button id="diminuir">-</button>
                <span id="numero">1</span>
                <button id="aumentar">+</button>
            </div>
            

 
    </main>

    <footer>

        <section class="section-1">
            <p><a href=""  class="p4">Trabalhe conosco</a></p>
            <p><a href="" class="p4">Termos e condições</a></p>
            <p><a href="" class="p4">Como cuidamos da sua privacidade</a></p>
        </section>

        <section class="section-2">
            <p><a href="" class="p4">Acessibilidade</a></p>
            <p><a href="" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
        </section>
    </footer>

</body>
</html>